* {
  box-sizing: border-box;
}

:root {
  --main-color: #f4b02b;
  --sec-color: #e5e5e5;
  --add-color1: #1f271b;
  --add-color2: #fff;
  --add-color3: rgba(244, 176, 43, 0.42);

  --radius: 5px;
}

#root {
  font-family: 'Montserrat', sans-serif;
}
