.Sidebar {
  width: 250px;
  transform: translateX(120%);

  box-shadow: -1px 3px 31px 4px #000000;

  @media (max-width: 540px) {
    width: 180px;
  }
}

.CloseBtn {
  width: 40px;
  height: 30px;

  position: absolute;
  top: 15px;
  right: 15px;

  @media (max-width: 540px) {
    top: 10px;

    width: 30px;
    height: 20px;
  }
}
