.Intro {
  height: 600px;
  overflow: hidden;

  @media (max-width: 1000px) {
    height: auto;
    margin-top: 100px;
  }

  @media (max-width: 540px) {
    margin-top: 50px;
  }
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.RightSection {
  position: relative;
  height: 100%;

  max-width: 519px;
  width: 100%;
}
